# Database
DATABASE_URL="postgresql://postgres:postgrespassword@localhost:5432/smart_portal_db?schema=public"

# App Port
PORT=5001
NODE_ENV="development"

# Authentication Secrets
JWT_ACCESS_SECRET="your_jwt_access_secret_key_12345!"
JWT_REFRESH_SECRET="your_jwt_refresh_secret_key_67890!"

# Cloudinary Config
CLOUDINARY_CLOUD_NAME="your_cloud_name"
CLOUDINARY_API_KEY="your_api_key"
CLOUDINARY_API_SECRET="your_api_secret"

# Frontend URL (for CORS)
FRONTEND_URL=https://ai-smart-internal-complaint-portal.vercel.app
